body {
  background-color: #f9f9f9;
  padding: 0;
  margin: 0;
}

.container {
  text-align: center;
  height: 60.8vh;
  background-color: #f0f0f0;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  margin: 2rem auto;
  padding: 2rem;
  position: relative;
}

.header {
  background-color: #06cf7b;
  color: white;
  padding: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.nav a {
  margin: 0 1rem;
  color: white;
  text-decoration: none;
  transition: color 0.3s;
}

.nav a:hover {
  color: #ccc;
}

.nav .sign-out-button {
  margin: 0 1rem;
  color: white;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: color 0.3s;
}

.nav .sign-out-button:hover {
  color: #ccc;
}

.main {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 98.35%;
  height: 8%;
  background-color: #1e3a8a;
  color: white;
  text-align: center;
  padding: 1rem;
  margin-top: 2rem;
}

.heading {
  font-size: 2.5rem;
  color: #05b36a;
  margin-bottom: 1rem;
}

.paragraph {
  font-size: 1.2rem;
  color: #666;
  margin-bottom: 1.5rem;
}

.subheading {
  font-size: 1.5rem;
  color: #333;
}

.tamer {
  color: red;
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
  margin-top: 1em;
  margin-bottom: 1em;
  padding: 1em;
  border: 1px solid red;
  border-radius: 5px;
  background-color: #f8d7da;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-form div {
  margin-bottom: 1rem;
}

.login-form label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: bold;
  color: green;
}

.login-form input {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  max-width: 300px;
}

.login-form button {
  padding: 0.5rem 1rem;
  background-color: #06cf7b;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.login-form button:hover {
  background-color: #05b36a;
}
.personCard{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border-bottom: 1px solid #ccc;
}
.modal {
  position: fixed;
  z-index: 1;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 35%;
  height: 25%;
  background-color: rgb(172, 171, 171);
  border-radius: 8px;
}
.modalContent{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.modalItem{
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.modalItem input{
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  max-width: 300px;
}
.modal button{
  padding: 0.5rem 1rem;
  background-color: #02a561;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.closeButton{
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.5rem;
  background-color: #f0f0f0;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}